<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Opinion</h1>

    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user">@ <%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:8080/posts/<%=post.id%>"><button>Explore</button></a> 
            <a href="http://localhost:8080/posts/<%=post.id%>/edit"><button>Update</button></a> 
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <br/>
                <button>Delete</button> 
            </form>         
        </div>
    <% } %>
    <br/><br/>
    <a href="http://localhost:8080/posts/new"><button>What’s Fresh</button></a>

</body>
</html>

